* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6ebff;
}

header {
    text-align: center;
    padding: 2.5% 5%;
}

.btn {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #003366;
}

nav {
  text-align: center;
  padding: .1rem;
}

.intro {
    padding: 2.5% 5%;
    text-align: center;
    font-family: Montserrat,Arial,sans-serif;
    font-size: 1.5rem;
    color: #222;
    margin: auto;
}

#typing {
    background-color: white;
    height: 6cm;
    padding: 10px;
    width: 103%;
    margin: auto;
}

#one { background: url('../img/acquia-building.jpg') }

#two { background: url('../img/kitchen.jpg') }
#thr { background: url('../img/tesla.jpg') }

h2 {
    margin-bottom: 1rem;
}

.stats {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    font-size: 4.5rem;
    border-right: 1px solid #aaa;
    padding: 1rem;
}

.stats:last-child {
    border-right: 0;
}

.stats p {
    font-size: 2.5rem;
    line-height: 1em;
    letter-spacing: -2px;
}
.css-typing-hidden {
    visibility: hidden;
}

.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(100, end);
    animation: type 5s steps(100, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

footer {
     text-align: center;
     padding-bottom: 1rem;
 }
 
 #download {
     display: inline-block;
     font: bold 1.5rem/1em Montserrat,Arial,sans-serif;
     text-decoration: none;
     height: 200px;
     width: 145px;
     padding-top: 7.25rem;
     box-sizing: border-box;
     background-image: url('../img/raindrop.png');
     background-size: 100%;
     background-repeat: no-repeat;
     color: #fff;
     transition: .2s;
 }
 #download:hover, #download:active {
     background-image: url('../img/raindrop-light.png')
 }
 
#typeThing, #typeThingTwo, #typeThingThree, #typeThingFour {
    text-align: left;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
