* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6ebff;
}

header {
    text-align: center;
    padding: 2.5% 5%;
}

.intro {
    padding: 2.5% 5%;
    text-align: center;
    font-family: Montserrat,Arial,sans-serif;
    font-size: 1.5rem;
    color: #222;
}
#one { background: url('../img/acquia-building.jpg') }
#two { background: url('../img/kitchen.jpg') }
#thr { background: url('../img/tesla.jpg') }

h2 {
    margin-bottom: 1rem;
}

.stats {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    font-size: 4.5rem;
    border-right: 1px solid #aaa;
    padding: 1rem;
}

.stats:last-child {
    border-right: 0;
}

.stats p {
    font-size: 2.5rem;
    line-height: 1em;
    letter-spacing: -2px;
}

footer {
    text-align: center;
    padding-bottom: 1rem;
}

#download {
    display: inline-block;
    font: bold 1.5rem/1em Montserrat,Arial,sans-serif;
    text-decoration: none;
    height: 200px;
    width: 145px;
    padding-top: 7.25rem;
    box-sizing: border-box;
    background-image: url('../img/raindrop.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    transition: .2s;
}
#download:hover, #download:active {
    background-image: url('../img/raindrop-light.png')
}